<div class="flex align-center flex-row">
  <div class="relative inline-block w-auto h-5">
    <input
      [id]="id"
      [name]="id"
      type="checkbox"
      class="peer appearance-none w-11 h-5 bg-slate-100 rounded-full checked:bg-slate-800 cursor-pointer transition-colors duration-300"
      [checked]="value"
      (blur)="onTouched()"
      [ngClass]="{ 'border-red-400': control.invalid && control.touched }"
      (change)="toggleSwitch($event)"
    />
    <label
      [for]="id"
      class="absolute top-0 left-0 w-5 h-5 bg-white rounded-full border border-slate-300 shadow-sm transition-transform duration-300 peer-checked:translate-x-6 peer-checked:border-slate-800 cursor-pointer">
    </label>
  </div>
  <span class="ps-2">{{ label }}</span>
</div>

<!-- Display error message -->
<p *ngIf="control.invalid && control.touched" class="text-xs !mt-1 text-red-400">
  {{ getErrorMessage() }}
</p>
