<div
  class="relative flex h-[100vh] w-full flex-col bg-white bg-clip-border p-4 text-gray-700 shadow-xl shadow-blue-gray-900/5"
>
  <div class="p-4 mb-2">
    <h5
      class="block font-sans text-xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900"
    >
      Welcome
    </h5>
  </div>
  <nav
    class="flex flex-col h-full gap-1 p-2 font-sans text-base font-normal text-blue-gray-700"
  >
    <div
      *ngFor="let item of items"
      [class]="
        'flex cursor-pointer hover:bg-[#eee] items-center w-full p-3 leading-tight transition-all rounded-lg outline-none text-start ' +
        item.class +
        (isActive(item.link) ? ' bg-[#eee]' : '')
      "
    >
      <a
        class="block w-full"
        *ngIf="item.action === 'link'"
        [href]="item.link"
        >{{ item.label }}</a
      >
      <a
        class="block w-full"
        *ngIf="item.action === 'function'"
        href="#"
        (click)="item?.function($event)"
        >{{ item.label }}</a
      >
    </div>
  </nav>
</div>
