<div class="form-contrainer w-full h-full flex justify-center items-center">
  <form (ngSubmit)="onSubmit($event)" [formGroup]="loginForm" class="form one-column w-[512px] border rounded p-8">
    <h2 class="!mb-5 !text-lg text-black !font-bold">Login</h2>
    <app-shared-input [control]="this.getControl('email')" class="block" formControlName="email" id="email" type="email" label="Email"></app-shared-input>
    <app-shared-input [control]="this.getControl('password')" class="mt-5 block" formControlName="password" id="password" type="password" label="Password"></app-shared-input>
    <app-shared-button class="mt-5 block" type="submit" label="Confirm" [disabled]="!loginForm.valid" />
    <p class="!mt-5 !mb-0">Don't have an account? <a href="/signup" class="text-sky-400">Create one now</a></p>
  </form>
</div>
